:root {
  --cyan: hsl(193, 38%, 86%);
  --green: hsl(150, 100%, 66%);
  --neutral-500: hsl(217, 19%, 38%);
  --neutral-700: hsl(217, 19%, 24%);
  --neutral-900: hsl(218, 23%, 16%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  background-color: var(--neutral-900);
  padding: 1rem;
  max-height: 100dvh;
  overflow-y: hidden;
}

.card {
  position: relative;
  max-width: 400px;
  background-color: var(--neutral-500);
  color: var(--cyan);
  padding: 2rem 1rem;
  margin: 15vh auto;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  line-height: 1.25;
  transform: translateY(-200vh);
}

.card__title {
  color: var(--green);
  font-size: 14px;
  letter-spacing: 4px;
}

.card__text::before {
  content: open-quote;
}

.card__text::after {
  content: close-quote;
}

.dice {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  height: 4rem;
  background-color: var(--green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice:hover {
  box-shadow: 0 0 2rem var(--green);
}

.dice img {
  width: 33%;
  height: 33%;
}

.divider {
  position: relative;
  margin-bottom: 2rem;
  isolation: isolate;
}

.divider::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--cyan);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  z-index: -1;
}

.divider::after {
  position: absolute;
  content: "";
  background-color: var(--neutral-500);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(12vw, 60px);
  height: min(12vw, 60px);
  z-index: 0;
}

.divider img {
  position: relative;
  width: 100%;
  display: inline-block;
  z-index: 1;
}

@media (min-width: 40rem) {
  .card {
    padding: 2rem;
  }
}

@keyframes animate-in {
  100% {
    transform: translateY(0);
  }
}

@keyframes animate-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200vh);
  }
}

.animate-in {
  animation: animate-in 0.5s ease-in-out forwards;
}

.animate-out {
  animation: animate-out 0.5s ease-in-out;
}
